---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalVideo from "../components/HorizontalVideo.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="interviews">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Developer Interviews</div>
  </div>

  Welcome to the Developer Interviews page!  In this section, you’ll find developer interviews I recorded to inspire more people to contribute to open source and help bridge the gap between users and maintainers. These conversations highlight the stories behind the projects and the human side of open source.
<div class="divider my-0"></div>
<HorizontalVideo
  title="Meet Inessa Pawson"
  desc="Inessa Pawson from NumPy talks about how she joined the Scientific Python community and how she uses her experience and skills to make the community better."
  url="https://www.youtube.com/watch?v=IZAUlHFZMCQ"
  video="https://www.youtube.com/embed/IZAUlHFZMCQ?si=4fXQepN1-IWoxPH3"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Marianne Corvellec"
  desc="Marianne Corvellec from scikit-image talks about how she joined the Scientific Python community and how she became a maintainer."
  url="https://www.youtube.com/watch?v=XnCenyB0pgs"
  video="https://www.youtube.com/embed/XnCenyB0pgs?si=OGiNfYoZiWpsvmbB"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Pamphile Roy"
  desc="Pamphile Roy talks about how he became a maintainer for SciPy and shares the work he has been doing with the Scientific Python project!"
  url="https://www.youtube.com/watch?v=RwBGDqN4AHk"
  video="https://www.youtube.com/embed/RwBGDqN4AHk?si=ckeIrFl8Ofp3t4bj"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Ross Barnowski"
  desc="Ross Barnowski from NumPy and NetworkX talks about how he helps grow the Scientific Python community through his work at these two projects."
  url="https://www.youtube.com/watch?v=egt_LkiLoUg"
  video="https://www.youtube.com/embed/egt_LkiLoUg?si=G55XAWUT6T8OBYgk"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Dan Shult"
  desc="Dan Schult from NetworkX talks about how he joined the Scientific Python community and help it grow through his work at NetworkX."
  url="https://www.youtube.com/watch?v=mmrFrakXuJc"
  video="https://www.youtube.com/embed/mmrFrakXuJc?si=SSyPnXvCxVq-TmqT"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Alex de Siqueira"
  desc="Alex de Siqueira from Scikit-image talks about how he started contributing to the Scientific Python community and how he became a maintainer for Scikit-image."
  url="https://www.youtube.com/watch?v=yd03a_gsN7I"
  video="https://www.youtube.com/embed/yd03a_gsN7I?si=24vthR3w0ZktJz6U"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Kira Evans"
  desc="Kira Evans from the Napari Project talks about how she joined the Scientific Python community and became a maintainer."
  url="https://www.youtube.com/watch?v=tqDxGxCDfKU"
  video="https://www.youtube.com/embed/tqDxGxCDfKU?si=KVUYOpnFpDLsgLyN"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Meet Melissa Weber Mendonça"
  desc="Melissa Weber Mendonça from NumPy talks about how she joined the Scientific Python community, why she loves it, and some of the challenges she has faced."
  url="https://www.youtube.com/watch?v=7nD64R-hPoA"
  video="https://www.youtube.com/embed/7nD64R-hPoA?si=-pQ0eeru4LrPbCxJ"
/>
<div class="divider my-0"></div>
</BaseLayout>
