---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalVideo from "../components/HorizontalVideo.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="talks">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Talks</div>
  </div>
Welcome to my talks page! I love speaking at conferences and sharing my passion for topics like community building, documentation, and open source security. On this page, you’ll find a collection of my talks where I aim to inspire, educate, and connect with others in the open source community.
<div class="divider my-0"></div>
<HorizontalVideo
  title="Recipe for Discovery: Building the UC Open Source Repository Browser from Scratch"
  desc="Speaker at Free and Open Source Software Yearly conference, 2025"
  badge="NEW"
  url="https://www.youtube.com/live/KDeVn23d-bY?si=a8MMKlEt3nneszYp&t=24478"
  video="https://www.youtube.com/embed/KDeVn23d-bY;start=24479"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Recipe for Discovery: Building the UC Open Source Repository Browser from Scratch"
  desc="Speaker at Open Source Summit North America, 2025"
  url="https://youtu.be/mlDZ_0gRnt8?si=Uy7zEjCt-1gvtm_8"
  video="https://www.youtube.com/embed/mlDZ_0gRnt8"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Keynote The XZ Security Breach and OS Security"
  desc="Keynote at UCSC Open Source Symposium, 2024"
  url="https://youtu.be/cFljQvmLnOQ?si=LEKIKH4Q-PeVbIQA"
  video="https://www.youtube.com/embed/cFljQvmLnOQ?si=LEKIKH4Q-PeVbIQA"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Understanding the XZ Security Breach and Open Source Security"
  desc="Panelist at Berkeley Institute for Data Science, 2024"
  url="https://youtu.be/ahcC_P4pu9U?si=1OvnWPBj8BC3DyPi"
  img="/xz-talk.webp"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Building a Stronger Open Source Python Data Community: Trends, Gaps, and Collaborative Contributions"
  desc="Panelist at PyData Seattle, 2023"
  url="https://youtu.be/SFk-neJzW6A?si=AO8gEACdn_Q9NIve"
  video="https://www.youtube.com/embed/SFk-neJzW6A"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Supply Chain Security in Open Source"
  desc="Moderator at UC Open Source Symposium, 2023"
  url="https://youtu.be/LmTYcJD9s6o?si=DKmOP-yC8rMNNVBn"
  video="https://www.youtube.com/embed/LmTYcJD9s6o"
/>
<div class="divider my-0"></div>


<HorizontalVideo
  title="Increasing Research Impact Through Open Source and Open Data"
  desc="Speaker at OSSci Meetup, 2023"
  url="https://youtu.be/ltuh968AJH8?si=6MNtiYJX2JY_isnZ"
  video="https://www.youtube.com/embed/ltuh968AJH8"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Scientific Python - From Github to TikTok"
  desc="Speaker at LLM Avalanche, Open Source Summit Europe, 2023"
  url="https://youtu.be/vx6HWNbyWCM?si=B7zcpdRhG08hQrPp"
  video="https://www.youtube.com/embed/vx6HWNbyWCM"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Scientific Python - from `__init__` to `__call__`"
  desc="Speaker at SciPy Conference 2023"
  url="https://youtu.be/sJxoBu5Cl3g?si=guzjuj_DWmpEmVIV"
  video="https://www.youtube.com/embed/sJxoBu5Cl3g"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Scientific Python - From Github to TikTok"
  desc="Speaker at SciPy Conference 2022"
  url="https://youtu.be/jYGxHV7INs4?si=QtoAaTDLr4p_94IP"
  video="https://www.youtube.com/embed/jYGxHV7INs4"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Scientific Python - From Github to TikTok"
  desc="Speaker at PyCon Colombia, 2022"
  url="https://youtu.be/w1xRV3UJ_Aw?si=2BpY5w-V5MC_2Mp8"
  video="https://www.youtube.com/embed/w1xRV3UJ_Aw"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Spyder says: ‘Let’s get Millennial’"
  desc="Speaker at PyCon US - Maintainers Summit 2021"
  url="https://youtu.be/LyJVnzGQqZU?si=gXSyZdf1O2sDVCto"
  video="https://www.youtube.com/embed/LyJVnzGQqZU"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Accelerating your research workflow with Spyder"
  desc="Workshop at Women in Bioinformatics & Data Science LA, 2020"
  url="https://youtu.be/TER03vEchxA?si=dwKw0lNDm83gAWlU"
  video="https://www.youtube.com/embed/TER03vEchxA"
/>
<div class="divider my-0"></div>

<HorizontalVideo
  title="Mejora tu flujo de trabajo en investigación científica con Spyder"
  desc="Workshop at Python Medellin Meetup, 2020"
  url="https://www.youtube.com/live/5139R4FCV2Y?si=EWRa1GKoo9JNfTmO"
  video="https://www.youtube.com/embed/5139R4FCV2Y"
/>

</BaseLayout>
